<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<b><p th:text="${obj}">OBJECT</p></b>



Roll : <p th:text="${obj.roll}">ROLL</p>
Name : <b><p th:text="${obj.name}">Name</p></b>
Address : <p th:text="${obj.address}">Address</p>
Result : <p th:text="${obj.result}">Result</p>


<br>
<br>
<br>


<div th:object=${obj} >

Roll :<b><span th:text="*{roll}">ROLL</span></b><br>
Name : <b><span th:text="*{name}">Name</span></b><br>
Address : <span th:text="*{address}">Address</span><br>
Result : <span th:text="*{result}">Result</span><br>

</div>


</body>
</html>